In [52]:
 # Dependencies
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [53]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\joely\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

NASA News

In [54]:
 # URL of page to be scraped
url = 'https://redplanetscience.com/'

## Retrieve page
browser.visit(url)

In [55]:
 # Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [56]:
#Find Latest News Title
# Examine the results and look for a div with the class 'content_title'
news_title = soup.find_all('div', class_='content_title')[0].text
news_title

'MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss'

In [57]:
#Find Latest news Paragraph text
# Examine the results and look for a div with the class 'article_teaser_body'
news_p = soup.find_all('div', class_='article_teaser_body')[0].text
news_p

'Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.'

JPL image

In [58]:
#find the image url for the current Featured Mars Image 
jpl_url = "https://spaceimages-mars.com/"
browser.visit(jpl_url)

mars_img = browser.html
soup = BeautifulSoup(mars_img, 'html.parser')

jpl_src = soup.find('img', class_='headerimage fade-in')['src']
 
#assign the url string to a variable called featured_image_url
featured_image_url = jpl_url+jpl_src
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

Mars Facts

In [59]:
#get url
url = 'https://galaxyfacts-mars.com/'
#Use the read_html function in Pandas to automatically scrape any tabular data from a page.
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [60]:
type(tables)

list

In [61]:
#Create dataframe
df = tables[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [63]:
#generate html table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [64]:
#get url
mars_url = 'https://marshemispheres.com/'
browser.visit(mars_url)
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [65]:
# get hemisphere elements
mars_hemi = soup.find ('div',class_= 'collapsible results')
mars_item=mars_hemi.find_all('div',class_='item')

In [66]:
# create empty list and loop through items
hemi_image_urls=[]
#loop 
for item in mars_item:
    try:
        hemi=item.find('div',class_='description')
        title=hemi.h3.text
        img_urls=hemi.a['href']
        browser.visit(mars_url+img_urls)
        html=browser.html
        soup=BeautifulSoup(html,'html.parser')
        image_src=soup.find('li').a['href']
        if (title and image_src):
            print(title)
            print(image_src)
    except Exception as e:
        print(e)

Cerberus Hemisphere Enhanced
images/full.jpg
Schiaparelli Hemisphere Enhanced
images/schiaparelli_enhanced-full.jpg
Syrtis Major Hemisphere Enhanced
images/syrtis_major_enhanced-full.jpg
Valles Marineris Hemisphere Enhanced
images/valles_marineris_enhanced-full.jpg

In [67]:
browser.quit()